**/Cache/
**/GPUCache/
**/logs/
**/*.log
**/*.bak
**/*.old
**/*~
**/.DS_Store

home/.zsh_history
home/.lesshst
home/.bash_history

home/.config/BraveSoftware/
home/.config/google-chrome/
home/.config/discord/
home/.config/Code/User/workspaceStorage/
home/.config/Code/CachedData/
home/.config/Code/logs/

*.key
*.pem
*.crt
*.p12
*.token
*secret*
*password*

# Wallpapers grandes
home/.config/hyde/themes/Catppuccin Latte/wallpapers/

# Wallpapers grandes
home/.config/hyde/themes/Decay Green/wallpapers/

# Arquivos de mídia grandes
*.gif
*.mp4
